*{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.copyright{
    background-color: black;
    font-size: 16px;
    color: #b3b3b3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advantages div{
    width: 25vw;
    color: #333333;
    font-size: 13px;
    text-align: center;
}
.navigation{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_centerblock{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_centerblock div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 164px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.email__regestration b{
    color: #333333;
    font-size: 16px;
}
input[type="email"]{
    width: 465px;
    color: #333333;
    font-weight: 700;
    border: bottom 1px solid #4f4f4f;
}