*{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
.carousel{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.carousel-card{
    width: 185px;
    height: 295px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
}
.carousel-card img{
    width: 100%;
}
.carousel-card:first-child img, .carousel-card:last-child img{
    width: 45%;
}
.carousel .carousel-card:nth-child(1), .carousel .carousel-card:nth-child(6){
    border: none;
}
.reverse{
    transform: scale(-1, 1);
}
.shop__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .products{
    padding-left: 30px;
    padding-right: 30px;
} */
.product-card{
    height: 510px;
    width: 323px;
}
.product-popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-content{
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.popup-image{
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 29%, rgba(150,150,150,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-image div{
    box-shadow: 0px 0px 5px 5px rgb(231, 231, 231);
}
.popup-description{
    width: 50%;
    padding: 30px;
}
.popup-description-up{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close{
    display: flex;
    justify-content: flex-end;
}
.popup-item{
    width: 50%;
}
.number{
    font-size: 12px;
    color: rgb(95, 95, 95);  
    letter-spacing: 3px;
}
.name-like{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
    padding-top: 10px;
}
.popup-price u{
    font-size: 16px;
    color: #333;
}
.popup-price s{
    font-size: 14px;
    color: #828282;
}
.popup-description-down{
    height: 50%;
    display: flex;
    align-items: flex-end;
}
.Add{
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}