*{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.carousel{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.carousel-card{
    width: 185px;
    height: 295px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
.carousel-card div{
    border-radius: 5px;
    border: 2px solid black;
}
.reverse{
    transform: scale(-1, 1);
}
.shop__line{
    display: flex;
    justify-content: space-around;
}
.product-card{
    height: 510px;
    width: 323px;
}