/* *{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: gray;
} */
.card{
    width: 21vw;
    height: 360px;
    background-color: white;
    border-radius: 25px;
    margin: 100px;
    padding: 15px;
    border: 2px solid rgb(211, 211, 211);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image img{
    width: 100%;
}
.in-stock{
    width: 35%;
    height: 25px;
    padding: 3px;
    border-radius: 8px;
    background-color: rgb(20,186,20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    align-self: flex-start;
}
.item-name{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    position: relative;
    bottom: 45px;
}
.price{
    color: rgb(27, 122, 205);
    font-weight: 600;
    font-size: 25px;
    align-self: flex-start;
}