*{
    background-color: rgb(177, 177, 177);
    
}
.product-card{
    width: 25vw;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
}
.Availability{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(112, 208, 33);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 10px;
}
.product-card img{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
