*{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.main{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-title{
    width: 1315px;
    margin-top: 80px;
    font-size: 40px;
    color: #333333;
}
.block-shop{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 50px ;
}
.category-block{
    width: 1255px;
    height: 500px;
    padding-right: 60px;
}
.popular-block{
    width: 1315px;
    height: 220px;
}
.card{
    width: 160px;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0px 3px 7px 1px rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition-duration: 0.3s;
}
.popular-card{
    transform: scale(0.9, 0.9);
}
.card:hover{
    box-shadow: 0px 3px 9px 1px rgb(193, 193, 193);
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}
.popular-card:hover{
    transform: scale(0.84, 0.84);
}
.shop__line{
    display: flex;
    justify-content: space-around;
}
.nextpage_buttom{
    display: flex;
    justify-self: end;
}
.block__shop::after{
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(img/Arrow.svg);
    position: absolute;
    right: 15px;
}
.card-partners{
    width: 490px;
    display: flex;
    justify-content: center;
}